In [1]:
################################################################################################
# Esther Lowe - Create CSV files that contain the first 6 months of crime in 2018 and 2019     #
# Also cleaned up 2018 csv                                                                     #
# 06/29/2019                                                                                   #
################################################################################################

In [2]:
import csv
import os
import pandas as pd

# Load in crime csvs:
crimes_2018_csv = "csvs/Crimes_-_2018.csv"
crimes_to_present_csv = "csvs/Crimes_-_One_year_prior_to_present.csv"

crimes_2018_df = pd.read_csv(crimes_2018_csv)
crimes_to_present_df = pd.read_csv(crimes_to_present_csv)

In [3]:
# Create a list of columns to determine what columns to keep and how to rename them:
crimes_2018_df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [4]:
# Make new columns in the 2018 Crimes DataFrame by splitting values for year, month, day, and time:
crimes_2018_df[["Month", "Day", "Year"]] = crimes_2018_df["Date"].str.split("/", n=2, expand=True,)
crimes_2018_df[["Year","Time"]] = crimes_2018_df["Year"].str.split(" ", n=1, expand=True,)

In [5]:
# Get rid of unnecessary columns, keeping only "Case Number", "Month","Day","Year", "Time", "Beat", "Location Description","Primary Type","Description","ARREST", "Domestic","Latitude", "Longitude":
crimes_18_df = crimes_2018_df[["Case Number", "Month","Day","Year", "Time", "Beat","Location Description","Primary Type","Description","Arrest", "Domestic","Latitude", "Longitude"]]

In [6]:
# Rename columns for ease of read and use:
c_2018_df = crimes_18_df.rename(columns={"Primary Type" : "Primary Description", "Description" : "Secondary Description"})

In [7]:
# Convert the months column to integers in order to sort the dataframe and pull out the first 6 months:
c_2018_df['Month'] = c_2018_df['Month'].astype(int)
c_2018_df['Day'] = c_2018_df['Day'].astype(int)
c_2018_df['Year'] = c_2018_df['Year'].astype(int)

In [8]:
# Save DataFrame to CSV file for further analysis:
c_2018_df.to_csv("csvschicago_crime_2018.csv", encoding="utf-8", index=False)

In [9]:
# Create dataframe for the first 6 months of 2018 and leave everything else:
# Verify the data was pulled properly by obtaining numbers of rows per month:
df_2018 = c_2018_df.loc[c_2018_df['Month']<=6,:].reset_index(drop=True)
df_2018['Month'].value_counts()

5    24640
6    24127
3    21163
4    21073
1    20358
2    17274
Name: Month, dtype: int64

In [18]:
# Save DataFrame to CSV file for further analysis:
df_2018.to_csv("csvs/chicago_crime_6mo_2018.csv", encoding="utf-8", index=False)
df_2018.head()

,Case Number,Month,Day,Year,Time,Beat,Location Description,Primary Description,Secondary Description,Arrest,Domestic,Latitude,Longitude
0,JB329337,1,1,2018,12:00:00 AM,411,RESIDENCE,BATTERY,DOMESTIC BATTERY SIMPLE,False,False,41.756331,-87.588307
1,JB195601,1,1,2018,12:00:00 AM,1632,RESIDENCE,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,False,False,41.951698,-87.802333
2,JB331992,1,1,2018,12:00:00 AM,1711,RESIDENCE,CRIM SEXUAL ASSAULT,PREDATORY,False,False,41.983850,-87.713782
3,JB194381,1,1,2018,12:00:00 AM,2213,RESIDENCE,OTHER OFFENSE,HARASSMENT BY TELEPHONE,True,True,41.720328,-87.651891
4,JB367921,1,1,2018,12:00:00 AM,1913,RESIDENCE,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,False,True,41.962282,-87.662339

In [11]:
# Create a list of columns to determine what columns to keep and how to rename them:
crimes_to_present_df.columns

Index(['CASE#', 'DATE  OF OCCURRENCE', 'BLOCK', ' IUCR',
       ' PRIMARY DESCRIPTION', ' SECONDARY DESCRIPTION',
       ' LOCATION DESCRIPTION', 'ARREST', 'DOMESTIC', 'BEAT', 'WARD', 'FBI CD',
       'X COORDINATE', 'Y COORDINATE', 'LATITUDE', 'LONGITUDE', 'LOCATION',
       'Historical Wards 2003-2015', 'Zip Codes', 'Community Areas',
       'Census Tracts', 'Wards'],
      dtype='object')

In [12]:
# Create new columns in Crimes_to_Present data frame by splitting values for year, month, day, and time:
crimes_to_present_df[["Month", "Day", "Year"]] = crimes_to_present_df["DATE  OF OCCURRENCE"].str.split("/", n=2, expand=True,)
crimes_to_present_df[["Year","Time"]] = crimes_to_present_df["Year"].str.split(" ", n=1, expand=True,)

In [13]:
#get rid of unnecessary columns, keeping only "CASE#", "Month","Day","Year", "Time", "Beat", " LOCATION DESCRIPTION"," PRIMARY DESCRIPTION"," SECONDARY DESCRIPTION","ARREST", "DOMESTIC","LATITUDE", "LONGITUDE","BEAT":
c_t_present_df = crimes_to_present_df[["CASE#", "Month","Day","Year", "Time", "BEAT", " LOCATION DESCRIPTION"," PRIMARY DESCRIPTION"," SECONDARY DESCRIPTION","ARREST", "DOMESTIC","LATITUDE", "LONGITUDE"]]

In [14]:
# Rename columns for ease of read and use by giving the columns the same names for both data sets:
c_t_present_df = c_t_present_df.rename( columns={"CASE#" : "Case Number", " LOCATION DESCRIPTION" : "Location Description"," PRIMARY DESCRIPTION" : "Primary Description"," SECONDARY DESCRIPTION" : "Secondary Description","ARREST" : "Arrest", "DOMESTIC" : "Domestic","LATITUDE" : "Latitude", "LONGITUDE" : "Longitude", "BEAT" : "Beat"} )

In [15]:
# Convert date columns to integers for ease of computation:
c_t_present_df['Month'] = c_t_present_df['Month'].astype(int)
c_t_present_df['Day'] = c_t_present_df['Day'].astype(int)
c_t_present_df['Year'] = c_t_present_df['Year'].astype(int)

In [16]:
# Create dataframe for the first 6 months of 2018 and leave everything else:
# Verify the data was pulled properly by obtaining numbers of rows per month:
df_2019 = c_t_present_df.loc[c_t_present_df['Year']== 2019,:].reset_index(drop=True)
df_2019['Month'].value_counts()

5    23156
4    20581
3    20090
1    19258
2    18076
6    17866
Name: Month, dtype: int64

In [19]:
# Save DataFrame to CSV file for further computation
df_2019.to_csv("csvs/chicago_crime_6mo_2019.csv", encoding="utf-8", index=False)
df_2019.head()

,Case Number,Month,Day,Year,Time,Beat,Location Description,Primary Description,Secondary Description,Arrest,Domestic,Latitude,Longitude
0,JC300596,1,1,2019,12:00:00 AM,1654,PARKING LOT/GARAGE(NON.RESID.),MOTOR VEHICLE THEFT,AUTOMOBILE,N,N,41.994914,-87.881938
1,JC323994,1,1,2019,12:00:00 AM,1122,APARTMENT,SEX OFFENSE,OTHER,N,N,41.890587,-87.723502
2,JC323472,1,1,2019,12:00:00 AM,1234,APARTMENT,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,N,N,41.853080,-87.676857
3,JC315506,1,1,2019,12:00:00 AM,633,DAY CARE CENTER,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,N,N,41.722030,-87.605997
4,JC286255,1,1,2019,12:00:00 AM,524,RESIDENCE,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,N,N,41.682482,-87.655454